:root {
    color-scheme: light dark;

    --background-color: #FFFFFF;    
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1d1d;
    }
}

html {
    box-sizing: border-box;
    font-family: -apple-system, system-ui,  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Prevent scroll bouncing */
    background-color: var(--background-color);
}

body { 
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
}

/* Temporary styling for the logo only page */
body > svg { 
    align-self: center;
    justify-self: center;
    columns: 1 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

@media screen and (min-width: 480px) {
    body { 
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}

/* 
 ------------------------------------------------
 Navigation menu
 ------------------------------------------------
 */

nav { 
    order: 1;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: inherit;
    box-shadow: 0 10px 8px 3px #000000;
}

nav > ul { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: center; */
}

nav > ul > li { 
    display: none;
}

nav > ul > li.button {
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    /* line-height: 150%; */
    text-decoration-thickness: 2px;
}

nav > ul > li.selected {
    display: inline;
    text-decoration: underline;
}

nav > ul > li > a::before { 
    content: "/";
}

@media screen and (min-width: 480px) {

    nav { 
        order: 0;
        position: initial;
        bottom: initial;
        width: auto;
        padding: 40px;
        box-shadow: 0 0 0 transparent;
    }
    
    nav > ul { 
        position: fixed;
        display: block;
    }
    
    /* Fixed vertical centering in viewport for navigation. Remove or comment for top positioning. */
    
    nav { 
        padding: 0px 40px;
    }
    
    nav > ul { 
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    /* End of vertical centering */
    
    nav > ul > li { 
        display: initial;
        padding: 6px 0px;
    }
}

/* 
 ------------------------------------------------
 Main content
 ------------------------------------------------
 */

main { 
    justify-self: center;
    padding: 40px 2em 20px 2em;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    overflow: scroll;
}

main > section > article { 
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;
    padding-bottom: 32px;
}

main > section > article > h2 { 
    margin: 0;
    font-size: 2.3em;
    font-weight: 900;
    text-transform: lowercase;
}

main > section > article > p { 
    margin: 0;
    font-size: 1.7rem;
    letter-spacing: 0.01em;
    line-height: 150%;
}

@media screen and (min-width: 480px) {
    main { 
        padding: 40px 0 20px 0;
        justify-content: space-between;
        overflow: initial;
    }
}

/* 
 ------------------------------------------------
 Main content
 ------------------------------------------------
 */

footer { 
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
}

footer > svg { 
    display: none;
}

#paging ul > li > img { 
    vertical-align: middle;
}

#next-page { 
    margin-left: 40px;
    margin-right: 12px;
}

@media screen and (min-width: 480px) {
    footer { 
        justify-content: space-between;
    }

    footer > svg {   
        display: initial;
    }
}

/* 
 ------------------------------------------------
 General styling
 ------------------------------------------------
 */

a {
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

a:visited { 
    color: inherit;
}

ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.horizontal { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 
 ------------------------------------------------
 Classes
 ------------------------------------------------
 */

.button { 
    padding: 4px;
    font-size: 1.5rem;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    font-weight: 700;
    cursor: pointer;
}

.button:hover { 
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.emphasised { 
    font-weight: 400;
    font-style: italic;
}