:root {
    color-scheme: light dark;

    --background-color: #FFFFFF;
    --error-color: #8b0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1d1d;
        --error-color: #ff6b6b;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: ui-serif, "Times New Roman", serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

body {
    overflow: auto;
    font-size: 1.7rem;
    letter-spacing: 0.01em;
    line-height: 150%;
}

/* 
 ------------------------------------------------
 Home page content
 ------------------------------------------------
 */

main {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 60px 2em 30px 2em;
    
    min-height: 0;
}

main > section {
    width: 100%;
    max-width: 600px;
    
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}

main > section > ul {
    padding: 0;
    width: 100%;
}

main > section > ul > a {
    text-decoration: none;
    color: inherit;
}

main > section > ul > a > li {
    display: grid;
    grid-template-columns: 1.4em 1fr auto;
    gap: 1rem;
    row-gap: 0;
    align-items: baseline;
    margin: 0.5em 0;
}

main > section > ul > a:hover > li {
    color: LinkText !important;
}

main > section > ul > a > li > span.post-id {
    text-align: right;
}

main > section > ul > a > li > span.post-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

main > section > ul > a > li > span.post-date {
    text-align: right;
}

/*
 ------------------------------------------------
 Blog post content
 ------------------------------------------------
 */

body > main > svg {
    margin-bottom: 20px;
}

main > section > article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 60px;
}

main > section > article > h1 {
    font-size: 3.2rem;
    line-height: normal;
}

main > section > article > h4 {
    margin-block-end: 0.3em;
}

main > section > article > p {
    margin: 0.5em 0;
}

main > section > article sup {
    line-height: 0;
    font-size: 1.3rem;
}

main > section > article > p span.reference {
    font-size: 1.3rem;
}

main > section > article  li {
    padding: 0 0;
}

main > section > article  li > p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

main > section > article > blockquote {
    font-style: italic;
    font-size: 1.25em;
    line-height: 160%;
    opacity: 0.8;
}

main > section > article > a {
    color: inherit;
}

main > a,
main > a > svg {
    color: inherit;
}

main > section > article > a > svg.signature {
    transform: translateX(-16px);
}

ol.instructions {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
  font-weight: 500;
}

ol.instructions > li > picture {
    text-align: center;
}

ol.instructions > li > picture {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}

ol.instructions > li > picture img {
    max-width: 100%;
}

/*
 ------------------------------------------------
 Footer
 ------------------------------------------------
 */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    padding-bottom: env(safe-area-inset-bottom);
}

footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    width: 100%;
    max-width: 600px;
    
    margin-bottom: 1.5em;
}

footer > nav a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    opacity: 0.65;
    text-decoration: none
}

footer > nav a:hover {
    opacity: 1;
}

footer > nav a > svg {
    width: 20px;
    max-height: 17px;
}

/*
 ------------------------------------------------
 Sign Out Form
 ------------------------------------------------
 */

form#signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

/*
 ------------------------------------------------
 Classes
 ------------------------------------------------
 */

.published-date {
    font-size: 1.3rem;
    font-style: italic;
    opacity: 0.65;
}

p.published-date {
    margin: 1.6em 0;
    display: block;
}

.signin-button {
    width: 240px;
    height: 40px;
    margin: 40px;
}

.signin-button > div > div > svg {
    width: 100%;
    height: 100%;
    color: red;
}

.signin-button:hover {
    cursor: pointer;
}

.signin-button > div {
    outline: none;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

/*
 ------------------------------------------------
 Post editor
 ------------------------------------------------
 */

main > section > form {
    display: flex;
    flex-direction: column;
    
    flex: 1 1 auto;
    min-height: 0;
}

main > section > form > input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font: inherit;
    line-height: normal;
    color: inherit;
    padding: 0;
    margin: 0;
}

main > section > form > input[name=title] {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 3.2rem 0;
    flex: 0 0 auto;
}

main > section > form > textarea  {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0;
    resize: none;
    
    flex: 1 1 auto;
    min-height: 0;
    overflow: visible;
}

main > section > form > input::placeholder,
main > section > form > textarea::placeholder {
    color: currentColor;
    opacity: 0.35;
}

main > section > form .editor-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 0 32px 0;
    flex: 0 0 auto;
    font-size: 1.5rem;
}

main > section > form .editor-actions > div {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

main > section > form button {
    font-weight: 500;
    font-size: 1.5rem;
}

button.primary {
    background-color: #007aff;
    background-image: linear-gradient(to bottom, #3696ff, #007aff);
    padding: 3px 8px 4px 8px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
}

button.primary:hover {
    background-image: linear-gradient(to bottom, #5eabff, #007aff);
}

button.primary:active {
    background-image: linear-gradient(to bottom, #0572eb, #007aff);
}

main > section > form button.link {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

main > section > form label.published {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

main > section > form .editor-error {
    margin: 0.5em 0 0.75em 0;
    font-size: 1.4rem;
    color: var(--error-color);
    flex: 0 0 auto;
}

main > section > form#preview-form {
    display: none;
}

/*
 ------------------------------------------------
 Mobile adjustments
 ------------------------------------------------
 */

@media screen and (max-width: 600px) {
    main {
        padding: calc(env(safe-area-inset-top) + 20px) 1.2em 20px 1.2em;
    }
    
    main > section > ul > a > li {
        grid-template-columns: 1.4em 1fr;
        grid-template-rows: auto auto;
    }
    
    main > section > ul > a > li > span.post-id {
        grid-column: 1;
        grid-row: 1;
    }

    main > section > ul > a > li > span.post-title {
        grid-column: 2;
        grid-row: 1;
    }

    main > section > ul > a > li > span.post-date {
        grid-column: 2;
        grid-row: 2;
        text-align: left;
    }
    
    main > section > article > blockquote {
        margin-inline-start: 20px;
        margin-inline-end: 20px;
    }
    
    main > section > article > a > svg.signature {
        transform: translateX(-12px);
    }
    
    main > section > form .editor {
        padding-bottom: 20px;
    }
}

@supports (-webkit-touch-callout: none) {
  html, body {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

