:root {
    color-scheme: light dark;

    --background-color: #FFFFFF;
    --panel-background-color: rgba(247, 247, 247, 0.5);
    --panel-item-background-color: rgba(239, 239, 239, 0.5);
    --drop-area-background-color: rgba(0,0,0,0.06);
    --table-background-color: #F7F7F7;
    --table-header-background-color: #EFEFEF;
    --error-color: #8b0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1d1d;
        --panel-background-color: rgba(36, 36, 36, 0.5);
        --panel-item-background-color: rgba(44, 44, 44, 0.5);
        --drop-area-background-color: rgba(255,255,255,0.03);
        --table-background-color: #242424;
        --table-header-background-color: #2C2C2C;
        --error-color: #ff6b6b;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: ui-serif, "Times New Roman", serif;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

body {
    overflow: auto;
    font-size: 1.7rem;
    letter-spacing: 0.01em;
    line-height: 150%;
}

/* 
 ------------------------------------------------
 Home page content
 ------------------------------------------------
 */

main {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 60px 2em 30px 2em;
    
    min-height: 0;
}

main > section {
    width: 100%;
    max-width: 600px;
    
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}

main > section > ul {
    padding: 0;
    width: 100%;
}

main > section > ul > a {
    text-decoration: none;
    color: inherit;
}

main > section > ul > a > li {
    display: grid;
    grid-template-columns: 1.4em 1fr auto;
    gap: 1rem;
    row-gap: 0;
    align-items: baseline;
    margin: 0.5em 0;
}

main > section > ul > a:hover > li {
    color: LinkText !important;
}

main > section > ul > a > li > span.post-id {
    text-align: right;
}

main > section > ul > a > li > span.post-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

main > section > ul > a > li > span.post-date {
    text-align: right;
}

/*
 ------------------------------------------------
 Blog post content
 ------------------------------------------------
 */

body > main > svg {
    margin-bottom: 20px;
}

main > section > article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 60px;
}

main > section > article > h1 {
    font-size: 3.2rem;
    line-height: normal;
}

main > section > article > h4 {
    margin-block-end: 0.3em;
}

main > section > article > p {
    margin: 0.5em 0;
}

main > section > article sup {
    line-height: 0;
    font-size: 1.3rem;
}

main > section > article > p span.reference {
    font-size: 1.3rem;
}

main > section > article  li {
    padding: 0 0;
}

main > section > article  li > p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

main > section > article > blockquote {
    font-style: italic;
    font-size: 1.25em;
    line-height: 160%;
    opacity: 0.8;
}

main > section > article > a {
    color: inherit;
}

main > section > article > table {
    background: var(--table-background-color);
    border-radius: 12px;
    font-size: 0.8em;
    padding: 6px;
    margin: 20px 0px;
}

main > section > article > table > thead th {
    background: var(--table-header-background-color);
    padding: 8px;
}

main > section > article > table > thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

main > section > article > table > thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

main > section > article > table td {
    padding: 4px 6px;
}

main > section > article > ul {
    margin: 0.5em 0;
}

main > a,
main > a > svg {
    color: inherit;
}

main > section > article > a > svg.signature {
    transform: translateX(-16px);
}

ol.instructions {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
  font-weight: 500;
}

ol.instructions > li > picture {
    text-align: center;
}

ol.instructions > li > picture {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}

ol.instructions > li > picture img {
    max-width: 100%;
}

hr {
    border: none;
    border-top: 1px solid;
    margin: 1.5em 0;
}

/*
 ------------------------------------------------
 Gallery
 ------------------------------------------------
 */



/*
 ------------------------------------------------
 Footer
 ------------------------------------------------
 */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    padding-bottom: env(safe-area-inset-bottom);
}

footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    width: 100%;
    max-width: 600px;
    
    margin-bottom: 1.5em;
}

footer > nav a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    opacity: 0.65;
    text-decoration: none
}

footer > nav a:hover {
    opacity: 1;
}

footer > nav a > svg {
    width: 20px;
    max-height: 17px;
}

/*
 ------------------------------------------------
 Sign Out Form
 ------------------------------------------------
 */

form#signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

/*
 ------------------------------------------------
 Classes
 ------------------------------------------------
 */

.published-date {
    font-size: 1.3rem;
    font-style: italic;
    opacity: 0.65;
}

p.published-date {
    margin: 1.6em 0;
    display: block;
}

.signin-button {
    width: 240px;
    height: 40px;
    margin: 40px;
}

.signin-button > div > div > svg {
    width: 100%;
    height: 100%;
    color: red;
}

.signin-button:hover {
    cursor: pointer;
}

.signin-button > div {
    outline: none;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

/*
 ------------------------------------------------
 Mobile adjustments
 ------------------------------------------------
 */

@media screen and (max-width: 600px) {
    main {
        padding: calc(env(safe-area-inset-top) + 20px) 1.2em 20px 1.2em;
    }
    
    main > section > ul > a > li {
        grid-template-columns: 1.4em 1fr;
        grid-template-rows: auto auto;
    }
    
    main > section > ul > a > li > span.post-id {
        grid-column: 1;
        grid-row: 1;
    }

    main > section > ul > a > li > span.post-title {
        grid-column: 2;
        grid-row: 1;
    }

    main > section > ul > a > li > span.post-date {
        grid-column: 2;
        grid-row: 2;
        text-align: left;
    }
    
    main > section > article > blockquote {
        margin-inline-start: 20px;
        margin-inline-end: 20px;
    }
    
    main > section > article > a > svg.signature {
        transform: translateX(-12px);
    }
}

@supports (-webkit-touch-callout: none) {
  html, body {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

